@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.pulse{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

}


@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ping{
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

input:disabled {
  background-color: #f4f4f4;
  color: #ccc;
}

img{
  border-radius: 20px;
  height: 150px;
  width: fit-content;
}

#cat-table {
  border-collapse: collapse;
  border-radius: 20px;
}

#cat-table th,
#cat-table td {
  border: 1px solid black;
  padding: 8px;
}

#cat-table th {
  text-align: left;
}

@media (min-width: 768px) {
  #cat-table th {
      width: 200px; /* Ancho del encabezado en dispositivos de escritorio */
  }
}
